spring:
  application:
    name: account-service

  datasource:
    url: jdbc:mysql://localhost:3306/account
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  liquibase:
    enabled: false

server:
  port: 8082

customer:
  service:
    url: http://localhost:8081
